<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TF-IDF Upload</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div>
        <h1>Загрузите текстовый файл</h1>
        <p>Каждый абзац считается отдельным документом, а файл — набором документов</p>
    </div>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".txt" required>
        <button type="submit">Загрузить</button>
    </form>
</body>
</html>
